/* CSSリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./media/2076202.png), url(./media/xmas20210346.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px, cover;
    background-attachment: fixed, fixed; /* 背景画像を固定 */
    font-family: "Kaisei Tokumin", serif;
}

.container {
    width: 100%;
    max-width: 1550;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    text-align: center;
    margin: 50px auto;
    padding: 50px;
}

.main-text {
    margin-top: 100px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    color: #2a2a2ade;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
}

.btn-gradient {
    margin: 20px 0 30px 0;
    font-family: inherit;
    font-size: 2rem;
    color: #fff;
    border-radius: 100vh;
    border: none;
    padding: 8px 50px;
    background-image: -webkit-linear-gradient(110deg, #e9defa 0%, #fbfcdb 100%);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
  
  .btn-gradient span {
    background-image: -webkit-linear-gradient(left, #2f4985 0%, #c75fb7 100%);
    background-image: linear-gradient(to right, #2f4985 0%, #c75fb7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .btn-gradient:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  }

.blue {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #222;
    color: transparent;
    background-image: url('./media/999397.jpg');
    -webkit-background-clip: text;
    background-clip: text;
}

.accent {
    color: rgba(234, 23, 23, 0.986);
    visibility: hidden;
}

.sub-text {
    margin-left: 200px;
    text-align: left;
    color: #4d4d4d;
    font-size: 25px;
    line-height: 2;
}

.my-face {
    padding: 50px 0;
    text-align: center;
}

.my-face img {
    width: 300px;
    height: auto;
    vertical-align: bottom;
    display: inline-block;
    border-radius: 50px;
}

.dot {
    margin-left: 0;
    text-align: center;
}

.god {
    background: linear-gradient(to right, #11c0df, #0150a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.answer {
    margin: 150px 0;
    text-align: center;
}

.question {
    color: #222;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}

.input {
    padding: 8px;
    border: 3px solid #e9defa;
}

.submit {
    color: #222;
    font-size: 20px;
    margin-left: 20px;
    padding: 5px 15px;
}

.new {
    transition: all 0.8s;
    opacity: 0;
}

.neo {
    transition: all 0.8s;
    opacity: 1;
}

.button-wrapper {
    text-align: center;
    display: none;
}

.hidden-button {
    color: red;
}

br {
    display: none;
}

.special {
    display: none;
    text-align: center;
}

.special img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 30px;
    margin: 40px 0;
}

.des {
    font-size: 25px;
    margin-bottom: 10px;
}
